<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alerta de Jogo Grátis</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h1>Alerta de Jogo Grátis</h1>

    <textarea name="historic" id="text-area" rows="10" cols="30" readonly></textarea>

    <table id="list">



        <!-- 
        <tr>
          <td>Gog</td>
          <td>Mario Land 2 Return</td>
        </tr>
        <tr>
          <td>Steam</td>
          <td>Zelda Awakening</td>
        </tr> -->

      </table>

      <script src="/scripts/index.js"></script>

</body>
</html>